:host input{
  padding: 21.5px;
  display: block;
  width: 205px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  background-color: #eee;
}

:host button{
  border: none;
  padding: 21.5px;
  border: 1px solid rgba(0,0,0,0.5);
  outline: none;
  cursor: pointer;
}

:host button:active{
  filter: saturate(200%);
}

:host button.green{
  background-color: hsl(100, 50%, 50%);
  margin-top: 10px;
}

:host button.login:disabled{
  filter: saturate(50%);
}

:host button.blue{
  background-color: hsl(200, 50%, 50%);
  margin: 10px 0 0 10px;
}

:host button.logout{
  background-color: hsl(0, 50%, 50%);
  margin-top: 20px;
}

:host li{
  margin-left: 30px;
}

:host ul{
  margin-bottom: 20px;
}

:host input.ng-invalid.ng-touched{
  border: 1px solid red;
  background-color: hsl(0, 100%, 95%);
}

:host label{
  color: #ccc;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

:host .form-error{
  max-width: 228px;
  border: 1px solid red;
  border-top: none;
  color: #ccc;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 10px;
  background-color: #333;
}
