<app-modal *ngIf="this.auth.modalMessage" [modalMessage]="this.auth.modalMessage" (closeModal)="closeModal()"></app-modal>

<div *ngIf="!this.auth.checkIfLoggedIn() && this.auth.loginForm">
  <form #loginForm="ngForm" (ngSubmit)="this.auth.login(authModel)">
    <div>
      <label for="email">E-mail:</label>
      <input type="email" id="email" required [(ngModel)]="authModel.email" name="email" autocomplete="off" spellcheck="false" email #emailField="ngModel" />
      <div class="form-error" [hidden]="emailField.valid || emailField.invalid && emailField.untouched">
        Email is required in the format text@text.text
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" required [(ngModel)]="authModel.password" name="password" minlength="10" #passwordField="ngModel" />
      <div class="form-error" [hidden]="passwordField.valid || passwordField.invalid && passwordField.untouched">
        Password is required and has to be at least 10 characters
      </div>
    </div>
    <button type="submit" class="green" [disabled]="!loginForm.form.valid">Login</button>
    <button class="blue" (click)="this.auth.toggleForm()">Register</button>
  </form>
</div>

<div *ngIf="!this.auth.checkIfLoggedIn() && this.auth.registerForm">
  <form #registerForm="ngForm" (ngSubmit)="this.auth.register(authModel)">
    <div>
      <label for="email">E-mail:</label>
      <input type="email" id="email" required [(ngModel)]="authModel.email" name="email" autocomplete="off" spellcheck="false" email #emailField="ngModel" />
      <div class="form-error" [hidden]="emailField.valid || emailField.invalid && emailField.untouched">
        Email is required in the format text@text.text
      </div>
    </div>
    <div>
      <label for="firstName">First name:</label>
      <input type="text" id="firstName" required [(ngModel)]="authModel.firstName" name="firstName" autocomplete="off" spellcheck="false" #firstNameField="ngModel" />
      <div class="form-error" [hidden]="firstNameField.valid || firstNameField.invalid && firstNameField.untouched">
        First name is required
      </div>
    </div>
    <div>
      <label for="lastName">Last name:</label>
      <input type="text" id="lastName" required [(ngModel)]="authModel.lastName" name="lastName" autocomplete="off" spellcheck="false" #lastNameField="ngModel" />
      <div class="form-error" [hidden]="lastNameField.valid || lastNameField.invalid && lastNameField.untouched">
        Last name is required
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" required [(ngModel)]="authModel.password" name="password" minlength="10" #passwordField="ngModel" />
      <div class="form-error" [hidden]="passwordField.valid || passwordField.invalid && passwordField.untouched">
        Password is required and has to be at least 10 characters
      </div>
    </div>
    <button type="submit" class="green" [disabled]="!registerForm.form.valid">Register</button>
    <button class="blue" (click)="this.auth.toggleForm()">Login</button>
  </form>
</div>

<div *ngIf="this.auth.checkIfLoggedIn()">
  <p>You are already logged in!</p>
  <button class="logout" (click)="this.auth.logout()">Log out</button>
</div>
