:host .modal-bg{
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host .modal{
  background-color: #eee;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border-radius: 10px;
}

:host h1{
  color: #111;
  margin-bottom: 10px;
  text-transform: uppercase;
}

:host p{
  color: #333;
}

:host .button-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

:host a{
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
